*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.contenedor{
    display: grid;
    width: 100%;
    height:100vh;
    background-color: blue;

    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 70% 30%;

    justify-content: stretch;
    align-content: stretch;

    align-items: stretch;
    justify-items: stretch;
    grid-auto-flow: row;

    grid-template-areas: "col1 col2 menulat"
                        "pie pie menulat";
}

.caja{
    background-color: aqua;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}


#pie
{
    grid-area: pie;
    background-color: rgb(240 177 124);
}

#col1
{
    grid-area: col1;
    background-color: rgb(240 177 124);
}
#col2
{
    grid-area: col2;
    background-color: rgb(240 177 124);
}
#menulat
{
    grid-area: menulat;
    background-color: rgb(240 177 124);
    float: left;
    font-size: 25px;
}

@media screen and (max-width:800px) and (min-width:400px){
    .contenedor{
        grid-template-columns: 60% 40%;
        grid-template-rows: 40% 40% 20%;
        grid-template-areas: "col1 menulat"
                             "col2 menulat"
                             "pie menulat";
    }

}

@media screen and (max-width:399px){
    .contenedor{
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 30% 10%;
        grid-template-areas: "col1"
                             "col2"
                             "menulat"
                             "pie";
    }

}