*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contendor
{
    width: 100%;
    height: 600px;
    background-color: darkorange;
}

.caja
{
    float: left;
    border: 2px solid blue;
    /*width: 100px; */
    width: calc((100% / 6) - 4px);
    height: 100px;
    margin: 2px;
    text-align: center;
}

@media screen and (max-width: 800px) 
{
#caja4
{
    clear: left;
}  
.caja { width: calc((100% / 3) - 4px);}  
}

@media screen and (max-width: 399px)
{
/* Estilos aplicables solo en el rango de pixeles especificado*/
.caja
{
    clear: left;
    width: calc(100% - 4px);
}
}