*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contendor
{
    width: 100%;
    height: 600px;

}

.caja
{
    float: left;
    border: 2px solid rgb(0, 0, 0);
    /*width: 100px; */
    width: calc((100% / 6) - 4px);
    height: 300px;
    margin: 1px;
    text-align: center;
}

@media screen and (max-width: 800px) 
{
#caja4
{
    clear: left;
}  
.caja { width: calc((100% / 3) - 4px);}  
}

@media screen and (max-width: 399px)
{
/* Estilos aplicables solo en el rango de pixeles especificado*/
.caja
{
    clear: left;
    width: calc(100% - 4px);
    
}
}
