* 
{
box-sizing: border-box;
margin: 0;
padding: 0;
}

div.sidebar
{
    position: fixed;
    background-color: aqua;
    width: 200px;
    height: 100%;
    overflow: auto;
}

a
{
    display: block;
    text-decoration: none;
    padding: 5px;
}

a:hover
{
    background-color: blue;
    color: black;
}

div.content
{
    background-color: chartreuse;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1500px;
}

.contenidoOpcion
{
    display: none;
}

@media screen and (max-width: 1200px)
{
    div.sidebar
    {
        position: relative;
        width: 100px;
        height: auto;
    }
    .sidebar a {float:left;}

    div.content {margin-left: 0;}
}

@media screen and (max-width: 600px)
{
    .sidebar a 
    {
        float: none;
        text-align: center;
    }
}
