*
{
    padding: 0px;
    margin:0px;
    
}

#header
{
    width: 1000px;
    font-style: italic;
    margin-inline: 250px;
}

ul, ol
{
    list-style: none;
}

.container li a
{
    background-color: rgba(226, 226, 226, 0.466);
    color: rgb(0, 0, 0);
    text-decoration:none;
    padding: 10px 15px;
    display: block;
    
    
}

.container li a:hover
{
    background-color: rgb(255, 126, 158);
}

.container > li
{
    float:left;
}

.container li ul
{
    display:none;
    position: absolute;
    min-width: 140px;
}

.container li:hover > ul
{
    display: block;

}

.container li ul li
{
    position: relative;
}

.container li ul li ul
{
    right: -140px;
    top: 0px;
    text-align: center;
}






